@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
$red: #cf1d35;
$black: #000000;
$white: #ffffff;

#sideNav .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

.bg-primary{
  background-color: $red!important;
}

.text-primary{
  color: $red!important;
  font-weight: bold;
}

a{
  color: $red;
  font-weight: bold;
}

a.certs{
  color: $white;
  font-weight: bold;
  &:hover{
    color: $red;
    cursor: pointer;
  }
}


.subheading{
  font-weight: bold;
}

li{
  font-weight: bold;
}

.social-icons a:hover{
  background-color: $red;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
  color: $black;
}

a:not([href]):not([tabindex]){
  color: $white;
}

p.lead{
  font-weight: bold;
}

p{
  font-weight: bold;
}

div{
  font-weight: bold;
}

body{
  color: $white;
  background-color: $black;
}

.bg-img {
  //background-image: url('../../img/emory-blurred.png');
  background-color: $black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.container-fluid .p-0{
  background-color: $black;
}

.dev-icons .list-inline-item i:hover{
  color: $red;
}

h2{
  color: $red;
  font-weight: bold;
}

h1, h3, h4, h5, h6{
  color: $white;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 70px;
  }
  h2{
    font-size: 55px;
  }
}
